.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(min-content, 1fr);
}

.card {
    background-color: var(--color-item);
    color: var(--color-text);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: 300;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    position: relative;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.02)
}

.card-header {
    width: 100%;
    height: auto;
}

.card-header img {
    width: 100%;
    height: calc(14vw);
    object-fit: cover;
}

.card-info {
    margin: 0.25rem 0.5rem 0.5rem 0.5rem;
}

.country-name {
    margin-bottom: 0.625rem;
    font-weight: 800;
    font-size: 1rem;
    padding: 0 0.5rem;
}

.country-text {
    padding: 0 0.5rem;
    font-weight: 600;
}

.country-text span {
    font-weight: normal;
}