.search-bar {
    display: flex;
    flex-direction: column;
}

.search-bar input,
.search-bar select {
    background-color: var(--color-item);
    color: var(--color-text);
    border: none;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    border-radius: 0.3rem;
    transition: all 0.3s linear;
}

.search-bar input:focus,
.search-bar select:focus {
    outline: none;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.search-icon {
    margin-left: 0.7rem;
    position: absolute;
    opacity: 0.5;
}

.search-input {
    width: 100%;
    padding: 0.7rem 0.5rem 0.7rem 2rem;
}

::placeholder {
    color: var(--color-text);
    opacity: .5;
    transition: all 0.3s linear;
}

.filter {
    width: max-content;
}

.filter-select {
    padding: 0.7rem 2rem 0.7rem 0.5rem;
}

@media (min-width: 576px) {
    .search-input {
        width: max(6.25rem, 28.125rem);
        padding: 0.7rem 0.5rem 0.7rem 2rem;
    }
    .filter-select {
        padding: 0.7rem 2rem 0.7rem 0.5rem;
    }
}

@media (min-width: 768px) {
    .search {
        margin-bottom: 0;
    }
    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
}