@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.2s linear */
}

body {
    font-family: 'Nunito Sans', sans-serif;
    --color-item: hsl(0, 0%, 98%);
    --color-bg: hsl(0, 0%, 94%);
    --color-text: hsl(200, 15%, 8%);
    --color-input: hsl(0, 0%, 52%);
    --image-grayscale: 0;
    --image-opacity: 100%;
    background-color: var(--color-bg);
    color: var(--color-text)
}

body.dark {
    --color-item: hsl(209, 23%, 22%);
    --color-bg: hsl(207, 26%, 17%);
    --color-text: hsl(0, 0%, 100%);
    --color-input: hsl(0, 0%, 30%);
    --image-grayscale: 50%;
    --image-opacity: 90%;
    background-color: var(--color-bg);
    color: var(--color-text)
}

img {
    filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}